* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #aaa;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.shopee {
    background-color: #ee4d2d;
}

.wa {
    background-color: #25D366;
}

.ig {
    background-color: #E1306C;
}

.btn:hover {
    opacity: 0.8;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 20px rgba(253, 251, 251, 0.2));
}
